{
  "env": {
    "es6": true,
    "node": true,
    "browser": true
  },
  "extends": [
    "ready-test"
  ],
  "rules": {
    "no-global-assign": "off"
  },
  "globals": {
    "add": "readonly",
    "mult": "readonly",
    "noop": "readonly",
    "arg2": "readonly",
    "args": "readonly",
    "clock": "readonly",
    "Sugar": "readonly",
    "square": "readonly",
    "concatA": "readonly",
    "namespace": "readonly",
    "fnamespace": "readonly",
    "xnamespace": "readonly",
    "mockTimeZone": "readonly",
    "resetTimeZone": "readonly",
    "setSystemTime": "readonly",
    "describeStatic": "readonly",
    "fdescribeStatic": "readonly",
    "xdescribeStatic": "readonly",
    "resetSystemTime": "readonly",
    "describeInstance": "readonly",
    "fdescribeInstance": "readonly",
    "xdescribeInstance": "readonly",
    "withNumberFormatter": "readonly",
    "getLocalTimeZoneName": "readonly",
    "getIntlCollatedArray": "readonly",
    "ensureNamespaceNotInitialized": "readonly"
  }
}
