{
  "env": {
    "es6": false,
    "node": true,
    "browser": true,
  },
  "rules": {
    'no-global-assign': 'off',
  },
  "globals": {
    it: true,
    fit: true,
    xit: true,
    add: true,
    mult: true,
    noop: true,
    arg2: true,
    args: true,
    clock: true,
    square: true,
    concatA: true,
    describe: true,
    fdescribe: true,
    xdescribe: true,
    namespace: true,
    famespace: true,
    xamespace: true,
    describeStatic: true,
    describeInstance: true,
    fdescribeStatic: true,
    fdescribeInstance: true,
    xdescribeStatic: true,
    xdescribeInstance: true,
    afterEach: true,
    beforeEach: true,
    assertNaN: true,
    assertNull: true,
    assertTrue: true,
    assertFalse: true,
    assertMatch: true,
    assertOneOf: true,
    assertEqual: true,
    assertError: true,
    assertNoError: true,
    assertUndefined: true,
    assertDateEqual: true,
    assertArrayEqual: true,
    assertObjectEqual: true,
    assertInstanceOf: true,
    withNumberFormatter: true,
    ensureNamespaceNotInitialized: true,
    Sugar: true,
    Promise: true,
  }
}
