## MAC OS
.DS_Store

## TEXTMATE
*.tmproj
tmtags

## EMACS
*~
\#*
.\#*

## VIM
*.swp

## PROJECT::GENERAL
logs
log
tmp
node_modules

## PROJECT::SPECIFIC
release/sugar-test.min.js
release/utf8/sugar-test.min.js
release/precompiled

## Want to test these across branches/tags
performance/javascripts/tests.js
