**/*.html
**/*.min.js
component.json
docs/
script/
test/images/
test/stylesheets/
test/javascripts/jquery-1.7.1.js
test/javascripts/environment.js
test/javascripts/tooltip.js
test/javascripts/suite.js
test/environments/underscore/
test/environments/prototype/
test/environments/mootools/
release/copyright.txt
release/precompiled/
