.yui-sam-skin .yui-navset .yui-nav li {
    margin-right:0.16em; /* space between tabs */
    padding-top:1px; /* gecko: make room for overflow */
    zoom:1;
}

.yui-sam-skin .yui-navset .yui-nav .selected { 
    margin-bottom:-1px; /* for overlap */
}

.yui-sam-skin .yui-navset .yui-nav a {
    background:#dadbdb url(../../assets/skins/sam/sprite.png) repeat-x; /* tab background */
    border:solid #a3a3a3;
    border-width:0 1px;
    color:#000;
    text-decoration:none;
}

.yui-sam-skin .yui-navset .yui-nav a em {
    border-top:solid 1px #a3a3a3;
    border-bottom:0;
    cursor:hand;
    padding:0.2em .75em;
    top:-1px; /* for 1px rounded corners */
    position:relative;
}

.yui-sam-skin .yui-navset .yui-nav .selected a,
.yui-sam-skin .yui-navset .yui-nav a:focus,
.yui-sam-skin .yui-navset .yui-nav a:hover {
    background:#214197 url(../../assets/skins/sam/sprite.png) repeat-x left -1400px; /* selected tab background */
    color:#fff;
}

.yui-sam-skin .yui-navset .yui-nav .selected a em {
    padding:0.3em 0.75em; /* raise selected tab */
}

.yui-sam-skin .yui-navset .yui-nav .selected a,
.yui-sam-skin .yui-navset .yui-nav a:hover,
.yui-sam-skin .yui-navset .yui-nav a:focus, 
.yui-sam-skin .yui-navset .yui-nav a:hover em,
.yui-sam-skin .yui-navset .yui-nav a:focus em,
.yui-sam-skin .yui-navset .yui-nav .selected a em {
    border-color:#243356; /* selected tab border color */
}

.yui-sam-skin .yui-navset .yui-nav {
    border-bottom:1px solid #243356; /* tab list bottom border */
    position:relative;
    zoom:1;
}

.yui-sam-skin .yui-navset .yui-content {
    background:#edf5ff; /* content background color */
    border-top:5px solid #214095; /* color between tab list and content */
}

.yui-sam-skin .yui-navset .yui-content div {
    border:1px solid #808080; /* content border */
    border-top-color:#243356; /* different top border color */
    padding:0.25em 0.5em; /* content padding */
}

.yui-sam-skin .yui-navset .yui-content div div { /* kill inheritance */
    border:0; 
    padding:0;
}
