#hd {
  margin-bottom:2em;
  border-bottom:1px solid #aaa;
}

#bd {
  margin-bottom:2em;
}

#ft {
  border-top:1px solid #aaa;
  padding:1em;
  text-align:center;
  color:#888;
}

#logo {
  width:378px; height:28px;
  margin:1em 0;
}

#demo {
  width:30em;
  margin-bottom:2em;
}

#demo .yui-content {
  padding:1em;
}
