
.yui-picker-panel {
    background: #222;
}

.yui-picker-panel .hd {
	background-color:#333366;
	color:#FFF;
	font-size:100%;
	line-height:100%;
	border:1px solid #222;
	border-bottom:1px solid #000;
	font-weight:bold;
	overflow:hidden;
	padding:4px;
}

.yui-picker-panel .bd {
    color: #fff;
    background: #000;
    margin: 1px;
    height: 200px;
}

.yui-picker-panel .ft {
    color: #fff;
    background: #000;
    margin: 1px;
    padding: 1px;
    text-align: center;
}

.yui-picker {
    position: relative;
}

.yui-picker-hue-thumb { cursor:default; width:18px; height:18px; 
top: -8px;
left: -2px;
    z-index: 9; position:absolute; }
.yui-picker-hue-bg {-moz-outline: none; outline:0px none;
    position:absolute; left:200px; height:183px; width:14px;
    background:url(hue_bg.png) no-repeat; 
    top:4px; 
    /*
    border: 2px solid #666;
    */
}

.yui-picker-bg {
    -moz-outline: none; 
    outline:0px none; 
    position:absolute; 
    top:4px;
    left:4px; 
    height:182px; 
    width:182px; 
    background-color:#F00; 
    background-image: url(picker_mask.png);
    /*
    border: 2px solid #666;
    */
} 

*html .yui-picker-bg {
    background-image: none;
    filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='picker_mask.png', sizingMethod='scale');
}


.yui-picker-mask { position:absolute; z-index: 1; top:0px; left:0px; } 

.yui-picker-thumb { cursor:default; width:11px; height:11px; z-index: 9; position:absolute; 
    top:-4px; left:-4px; }

.yui-picker-swatch { position:absolute; left:240px; top:4px; height:60px;
    width:55px; border:1px solid #666; }
.yui-picker-websafe-swatch { position:absolute; left:304px; top:4px;
    height:24px; width:24px; border:1px solid #666; }

/*
#yui-picker-controls { text-align:right; position:absolute; top: 94px; left:236px; font:0.75em arial,helvetica,clean,sans-serif }
*/
.yui-picker-controls { position:absolute; top: 72px; left:226px; font:1em monospace; }
.yui-picker-controls .bd { height: 100px; }
.yui-picker-controls ul {float:left;list-style:none;padding:0 2px 0 0;margin:0}
.yui-picker-controls li {padding:2px;margin:0}
.yui-picker-controls input { 
    font-size: 0.85em;
    width: 2.4em;
}
.yui-picker-hex-controls { 
    clear: both; 
    padding: 2px;
}
.yui-picker-hex-controls input { 
    width: 4.6em;
}


/*
.yui-picker-controls dl ul {border: 1px solid yellow; float:left; list-style:none; padding:0 2px 0 0; margin:0}
.yui-picker-controls dt {height: 1.4em; padding: 2px; margin: 0;clear: both; float: left}
.yui-picker-controls dd {height: 1.4em; padding: 2px; margin:0; float: left}
*/



/*#yui-picker-controls li {padding:0;margin:0} */
/* #yui-picker-controls input { font-size: .85em } */

.yui-picker a {
    font: 1em arial,helvetica,clean,sans-serif;
    text-align: center;
  
    display:block;
    *display:inline-block; /* IE */
padding: 0;
    color: #fff;

}
